<md-list>
    <section *ngFor="let module of (modules | async)">
        <h3 md-subheader>{{module?.name}}</h3>
        <md-list-item *ngFor="let function of module?.functions" (click)="showArguments = !showArguments">
            <md-icon class="material-icons" md-list-avatar>folder</md-icon>
            <h4 md-line>{{function?.name}}</h4>
            <h2 style="float:right;" [style.background]="(function?.updateStream | async)?.style" [innerHTML]="(function?.updateStream | async)?.value"></h2>
            <p md-line>
                <arguments-control-form style="display: inline-block" [arguments]="function.arguments" (onFunctionCall)="callFunction(function, $event)"></arguments-control-form>
            </p>
        </md-list-item>
        <md-divider></md-divider>
    </section>
</md-list>